# Programming for Data Science

## Lab 1

### Variables, Operators, and Data Structures


<b>1</b>: In the following cell we have declared multiple variables. Can you identify the type of each variable?

In [10]:
a = 15
b = 24.5
c = "Knock Knock"
d = "Who's there?"
e = "Turnip"
f = "Turnip Who?"
g = "Turnip the volume, I love this song!"

In [11]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

<b>2</b>: What is the ouput of a times b? And what is the variable type of the output?

In [9]:
a1 = a * b
print(a1)
print(type(a1))

367.5
<class 'float'>

<b>3</b>: Divide variable a by 2, what is the output type?

In [12]:
a2 = a / 2
print(a2)
print(type(a2))

7.5
<class 'float'>

**3.1** What if you use the floor operator?

In [13]:
a3 = a // 2
print(a3)
print(type(a3))

7
<class 'int'>

**4:** If you multiply b by 2, what is the output type?

In [14]:
a4 = b * 2
print(a4)
print(type(a4))

49.0
<class 'float'>

<b>5</b>: Use the print function to print a sentence that concatenates c,d,e,f, and g. Don't forget to add a line break separator.

In [21]:
print(c + "\n" + d + "\n" + e + "\n" + f + "\n" + g)

Knock Knock
Who's there?
Turnip
Turnip Who?
Turnip the volume, I love this song!

<b>6</b>: Consider the list X, declared below. What is the lenght of X? Print the 5th and 9th element of the list.

X = [2, 1, 21, 13, 233, 144, 0, 3, 8, 5, 89, 34, 1, 55]

In [41]:
X = [2, 1, 21, 13, 233, 144, 0, 3, 8, 5, 89, 34, 1, 55]

In [42]:
print(len(X))
print(X[5])
print(X[9])

14
144
5

<b>7</b>: List X hides a surprise. It seems that it was randomly shuffled before the class. Can you sort the list contents in ascending order? Make sure that X is sorted.

In [43]:
X.sort()
print(X)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]

**7.1** Find an alternative way to solve the previous exercise.

In [44]:
sorted_X = sorted(X)
print(sorted_X)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]

<b>8</b>: Hahaha, it seems that X stores the first 14 values (when starting from 0) of the Fibonacci sequence. Can you guess what are the next two values in the sequence?

In [45]:
print(144 + 233)
print(144 + 233 + 233)

377
610

<b>9</b>: Append to the end of X the following two values of the Fibonacci sequence.
Afterwards print the List and confirm that the values have been added successfuly.

***Note: you should be able to do this only calling X and its elements by the index.***

In [46]:
X.append(144 + 233)
X.append(144 + 233 + 233)

print(X)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

<b>10</b>: Now, suppose you show the sequence to your Math professor, who is a really opinionated and a believer that 0 should not be the first value of the sequence. He instructs you to remove it. Can you delete the value 0 from the list X? Show that you have successfuly removed the element 0.

In [47]:
X.remove(0)
print(X)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

<b>11</b>: Typecast the List X into a Tuple, and store the output in variable Y.

In [48]:
Y = tuple(X)
print(Y)

(1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610)

<b>12</b>: What is the lenght of Y?

In [49]:
print(len(Y))

15

<b>13</b>: Typecaste the List X into a Set. What is the size of the resulting Set?

In [50]:
X_set = set(X)
size_of_set = len(X_set)
print(X_set)
print(size_of_set)

{1, 2, 3, 34, 5, 610, 8, 233, 377, 13, 144, 21, 55, 89}
14

**13.1** Why is the size of the set different from the size of the list and the tuple?

Python only stores unique elements in sets. When converting a list or tuple with duplicate values to a set, the duplicates are removed.

<b>14</b>: Below you can find two variables declared: movies and actors. 

The variable movies stores a List with information about the movies a sequence of actors have played a role. That is, each entry is a List of movie titles in which a particular actor played a role. The actor is thus encoded in the index of the List movies.

The variable actors is a dictionary that provides a map between an actor name (key) and the corresponding index in the list movies (value). Thus, it provides a quick way to access the list movies using the name of the actor.

In [51]:
movies = [
    ['JFK', 'Sleepers', 'Mystic River', 'Diner', 'Tremors', 'Hollow Man', 'A Few Good Men', 'Apollo 13', 'X-Men: First Class', 'Footloose'],
    ['Marjorie Prime','A Perfect Day','The Spoils Before Dying','Spoils of Babylon','Portlandia','The Secret Life of Words','Anchorman: The Legend of Ron Burgundy','Code 46','Mystic River','Austin Powers: The Spy Who Shagged Me','I.Q','The Shawshank Redemption','Short Cuts','Top Gun'],
    ['Happy Feet 2','Happy Feet','Back To The Future 2','Lord Of The Rings : The fellowship of the ring','Lord Of The Rings : The two towers','Lord Of The Rings : Return Of The King','The Hobbit : The Battle Of Five Armies','The Hobbit : An Unexpected Journey ','Sin City','Spy Kids 3 : Game Over'],
    ['Back to the Future','Back to the Future Part II ','Back to the Future Part III','Casualties of War ','The Hard Way','The Frighteners','Doc Hollywood','Greedy ','Teen Wolf ','Bright Lights, Big City'],
    ['X-Men','The Lord of the Rings: The Fellowship of the Ring','The Lord of the Rings: The Two Towers','The Lord of the Rings: The Return of the King','Emile','X2','Eighteen','X-Men: The Last Stand','The Magic Roundabout','Flushed Away'],
    ['I Am Sam.','Sweet Home Alabama.','Trapped.','Hansel & Gretel.','Uptown Girls.','The Cat In The Hat.','Man On Fire.','Nine Lives.','Hide And Seek.','War Of The Worlds.'],
    ['Manhattan ','Ironweed','Out of Africa ','Silkwood','The French Lieutenants Woman','Julie & Julia','The Devil Wears Prada','The Iron Lady','Sophies Choice','Kramer vs. Kramer'],
    ['The Thirteenth Year','The Flintstones in Viva Rock Vegas','The Safety of ObjectsPanic Room','Cold Creek Manor','Catch That Kid','Speak','Undertow','Fierce People','Zathura A Space Adventure'],
    ['Cowboys & Aliens','Paranoia','Ender Game','Anchorman 2: The Legend Continues','The Expendables 3','The Age of Adaline','Star Wars: Episode VII - The Force Awakens','Blade Runner 2049','Star Wars: Episode IX - The Rise of Skywalker','The Call of the Wild'],
    ['Harry Potter and the Philosophers Stone','Harry Potter and the Chamber of Secrets','Thunderpants','Harry Potter and the Prisoner of Azkaban','Harry Potter and the Goblet of Fire','Driving Lessons','Harry Potter and the Order of the Phoenix','Harry Potter and the Half-Blood Prince','Cherrybomb','Wild Target'],
]
actors = dict((
    ('Kevin Bacon',1),
    ('Tim Robbins',2),
    ('Elijah Wood',3),
    ('Michael J. Fox',4),
    ('Ian McKellen',5),
    ('Dakota Fannings',6),
    ('Maryl Streep',7),
    ('Kristen Stewart',8),
    ('Harrison Ford',9),
    ('Rupert Grint',10)
))

**14.1** Can you list all the actors names in the dictionary actors?

In [52]:
actor_names = list(actors.keys())
print(actor_names)

['Kevin Bacon', 'Tim Robbins', 'Elijah Wood', 'Michael J. Fox', 'Ian McKellen', 'Dakota Fannings', 'Maryl Streep', 'Kristen Stewart', 'Harrison Ford', 'Rupert Grint']

**14.2** Compare the lenght of the List movies with the maximum and minimum index value associated with an actor name. What do you conclude?

In [54]:
movies_length = len(movies)
max_index = max(actors.values())
min_index = min(actors.values())

print("Length of the movies list:", movies_length)
print("Maximum index value in actors dictionary:", max_index)
print("Minimum index value in actors dictionary", min_index)

Length of the movies list: 10
Maximum index value in actors dictionary: 10
Minimum index value in actors dictionary 1

**14.3** Print the names of the movies in which Kevin Bacon played a role.

In [56]:
# 1st we get the index for kevin bacon
kevin_bacon_index = actors["Kevin Bacon"]
# 2nd we find and print the names of the movies in wich kevin bacon played a role
for movie_list in movies:
    if kevin_bacon_index <= len(movie_list):
        print(movie_list[kevin_bacon_index - 1]) #adjust for 0 based index

JFK
Marjorie Prime
Happy Feet 2
Back to the Future
X-Men
I Am Sam.
Manhattan
The Thirteenth Year
Cowboys & Aliens
Harry Potter and the Philosophers Stone

**14.4** Can you identify in which movies have "Kevin Bacon" and "Tim Robbins" co-starred? <br>

***Tip: Using Sets is quite handy for this task.***

In [57]:
kevin_bacon_index = actors['Kevin Bacon']
tim_robbins_index = actors["Tim Robbins"]

kevin_bacon_movies = set()
tim_robbins_movies = set()

for movie_list in movies:
    if kevin_bacon_index <= len(movie_list):
        kevin_bacon_movies.add(movie_list[kevin_bacon_index - 1])
    if tim_robbins_index <= len(movie_list):
        tim_robbins_movies.add(movie_list[tim_robbins_index - 1])

co_starting_movies = kevin_bacon_movies.intersection(tim_robbins_movies)

print("Movies in which kevin and tim co-starred:")
for movie in co_starting_movies:
    print(movie)

Movies in which kevin and tim co-starred:

<b>15</b>: In the Lecture we have discussed how data sctructures might be mutable or immutable depending on if they allow for the user to change individual elements they store. Can you demonstrate, by example, if each of the following data structures -- Tuples, Lists, Dictionaries, and Sets -- are mutable or not?

***Tip: To show that it is immutable, you just need to show that you can't change a value. Likewise, to show that it is mutable, you only need to show that you can indeed change a value.***

### Flow Control

<b>16</b>: Write a program that, for an arbitrary choice of X and Y (with Y > X), prints all the even numbers in the range [X,Y].

In [60]:
# Example values for X and Y
X = 1
Y = 15

In [63]:
for number in range (X, Y + 1):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14

<b>17</b>: Consider the tuples X and Y that are declared below. Write a program that identifies the indexes of the two lists that correspond to matching values.

X = (1,2,3,4,5,6,7)
Y = (7,2,3,10,2,8,9)

<b>18</b>: Write a computer program that computes the average of the values stored in list X

<b>19</b>: Write a computer program that computes the standard deviation of the values stored in list X

<b>20</b>: Write a computer program that computes the median of the values stored in a list X

## Python STL

<b>21</b>: Use the OS module to list all the files in your current working folder

In [ ]:
# Part 1. we start by loading the OS module
import os

# and then we can call the method listdir() to print the files in y our working folder
print("files in working directory: ",os.listdir())

#additionally using the sys we can check which paths is your python using to load modules
import sys
print("paths: ",sys.path)

In [ ]:
# alternatively we can use magic commands like follow 
%ls

<b>22</b>: Use the Random module to create a list of length 100 with random floats (between 0 an 1)

In [1]:
#We start by loading the random module 
import random

<b>23</b>:  Use the Math module to multiply each of the random numbers by 2 Pi

In [2]:
#We start by loading the module math (also for Part 4.) 
import math

<b>24</b>: Use the Math module to obtain the Sin of each of those values

## Additional Exercises

<b>Question</b>: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

Suppose the following input is supplied to the program: 8 <br>
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

<b>Question</b>: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program: without,hello,bag,world <br>
Then, the output should be: bag,hello,without,world

In [ ]:
string_input = 'without,hello,bag,world'

# write your code here:

<b>Question</b>: Write a program, which will find all such numbers between X and Y (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

Suppose the following input is supplied to the program: 10,50 <br>
Then, the output should be: 20,22,24,26,28,40,42,44,46,48